@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* nav styles starts here */

.navbar {
    min-height: 700px;
    border: 1px solid gray;
    background-image: linear-gradient(180deg,rgb(0, 0, 0), rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 1));
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 800;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem;    
}

.nav-icon {
    display: none;
}


.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0.7rem;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.185);
    border-radius: 5rem;
    font-weight: normal;
}


.nav-container ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 35px;
    border-radius: 5rem;
}

.nav-container ul li.nav-child a {
    background-color: #FF5C41;
    color: #fff;
}

/* nav styles ends here */
/* banner styles starts here */

.banner-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner-img {
    position: relative;
}

.banner-content h1 {
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.miami {
    font-family: 'Miama', sans-serif;
    font-weight: normal;
    font-size: 9rem;
}


.banner-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 16px 40px;
    background-color: #FF5C41;
    border-radius: 35px;
    border: none;
    color: white;
    font-size: 1rem;
}

.btn-secendory {
    padding: 16px 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 35px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: 15px;
}

.banner-card {
    width: 206px;
    height: 96px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    margin-left: 750px;
    margin-top: 350px;
}

.card-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FF5C41;
}

.card-text h3 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}
.card-text p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

.banner-card-2 {
    width: 193px;
    height: 98px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    margin-left: 1100px;
    margin-bottom: 200px;
}

.card-text-2 h3 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}
.card-text-2 p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

/* banner styles ends here */






/* responsive layout for mobile starts here */
@media screen and (max-width:576px) {
    .nav-content {
        display: none;
    }
    .nav-icon {
        display: block;
        color: white;
        font-size: 2rem;
    }
    .banner-container {
        flex-direction: column;
    }
    .banner-card {
        margin-left: 7px;
        margin-top: 750px;
    }
    .banner-card-2 {
        margin-left: 220px;
        margin-top: 380px;
    }
    .banner-content h1 {
        font-size: 3rem;
        margin-left: 10px;
    }
    .miami {
        font-size: 4rem;
    }
    .banner-content p {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    .btn-primary {
        margin-left: 10px;
    }
}

/* responsive layout for mobile ends here */